<!DOCTYPE HTML>
<html>
	<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" type="image/ico" href="static/images/me.ico" />
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Ritik Dutta</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Ritik Dutta home, webpage, information, search" />
	<meta name="keywords" content="machine learning, data analysis, ML algorithms, ML pipelines, Sklearn, XGBoost, deep learning, TensorFlow, CNN, DevOps, automation, Docker, Jenkins, Git, AWS, MLflow, Circle CI, CI/CD, cloud services, GCP, backend development, Flask, NoSQL, Cassandra, Firebase Realtime DB, Firebase Firestore, OAuth, API development, Postman, Ajax, computer vision, object detection, OpenCV, Yolo, FaceNet, MediaPipe, natural language processing, NLP, Langchain, GPT, BERT, Transformers, Hugging Face, web development, Bootstrap, HTML, CSS, JavaScript, IoT, Raspberry Pi, MQTT, home automation, game development, Blender, Unity, cybersecurity, network engineering, penetration testing, SQL injection, script injection">

	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Ritik Dutta - Full Stack Developer | Machine Learning Expert" />
	<meta property="og:description" content="Explore my professional portfolio featuring projects on Machine Learning, Deep Learning, and Full-Stack Development. Dive into case studies and code on my website!" />
	<meta property="og:image" content="https://i.imgur.com/zkCFRy2.png" />
	<meta property="og:url" content="https://www.ritikdutta.com" />
	<meta property="og:site_name" content="Ritik Dutta's Portfolio" />


	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="Ritik Dutta - Full Stack Developer | Machine Learning Expert" />
	<meta name="twitter:description" content="Explore my professional portfolio featuring projects on Machine Learning, Deep Learning, and Full-Stack Development. Dive into case studies and code on my website!" />
	<meta name="twitter:image" content="https://i.imgur.com/zkCFRy2.png" />
	<meta name="twitter:url" content="https://www.ritikdutta.com" />


	<link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
	
	<!-- Animate.css -->
    <link rel="stylesheet" href="animate.css">
	<!-- <link rel="stylesheet" href="css/animate.css"> -->


	<!-- Bootstrap  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
	<!-- <link rel="stylesheet" href="css/bootstrap.css"> -->

	<!-- Owl Carousel -->
    <link rel="stylesheet" href="{{ url_for('static', filename='owl.carousel.min.css') }}">
	<!-- <link rel="stylesheet" href="css/owl.carousel.min.css"> -->

    <link rel="stylesheet" href="{{ url_for('static', filename='owl.theme.default.min.css') }}">
	<!-- <link rel="stylesheet" href="css/owl.theme.default.min.css"> -->

	<!-- Magnific Popup -->
    <link rel="stylesheet" href="{{ url_for('static', filename='magnific-popup.css') }}">
	<!-- <link rel="stylesheet" href="css/magnific-popup.css"> -->


	<!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">

    <style>
		.social-icon {
		    padding: 25px; /* Increases clickable area */
		    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
		    border-radius: 50%; /* Gives a rounded effect to the clickable area */
		}

		.social-icon:hover {
		    transform: scale(1.5); /* Enlarges the icon */
		}
    </style>
    <script type="text/javascript">
    	document.querySelectorAll('.social-icon').forEach(item => {
		    item.addEventListener('mousemove', function(e) {
		        const rect = this.getBoundingClientRect();
		        const deltaX = Math.abs(e.clientX - (rect.left + rect.width / 2));
		        const deltaY = Math.abs(e.clientY - (rect.top + rect.height / 2));
		        const distance = Math.sqrt(deltaX * deltaX + deltaY * deltaY);
		        const scale = Math.max(1, 1.1 - 0.001 * distance);
		        this.style.transform = `scale(${scale})`;
		    });

		    item.addEventListener('mouseleave', function(e) {
		        this.style.transform = 'scale(1)';
		    });
		});

    </script>

	</head>
	<body>

	<div id="colorlib-page">
		<header>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="colorlib-navbar-brand">
							<a class="colorlib-logo" href="index.html"><span>RD</span></a>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div id="colorlib-about">
			<div class="container">
				<div class="row text-center">
					<h2 class="bold">About</h2>
				</div>
				<div class="row">
					<div class="col-md-5 animate-box">
						<div class="owl-carousel3">
							<div class="item">
								<img class="img-responsive about-img" src="static/images/me2.jpg" alt="html5 bootstrap template by colorlib.com">
							</div>
							<div class="item">
								<img class="img-responsive about-img" src="static/images/me2.jpg" alt="html5 bootstrap template by colorlib.com">
							</div>
						</div>
					</div>
					<div class="col-md-6 col-md-push-1 animate-box">
						<div class="about-desc">
							<div class="owl-carousel3">
								<div class="item">
									<h2><span>Ritik</span><span>Dutta</span></h2>
								</div>
								<div class="item">
									<h2><span>I'm</span><span>A Developer</span></h2>
								</div>
							</div>
							<div class="desc">
								<div class="rotate">
									<h2 class="heading">About</h2>
								</div>
								<p>I'm the tech guru with a sprinkle of passion and dedication that could launch a rocket to Mars! I'm on a mission to add some AI/ML magic to businesses and create IoT wonders for homes and offices straight out of a sci-fi dream..</p>
								<p class="colorlib-social-icons" style="display: flex; flex-wrap: nowrap; justify-content: space-around;">
								    <!-- <a href="#"><i class="icon-facebook4"></i></a> -->
								    <a class="social-icon" target="_blank" href="https://github.com/RitikDutta"><i class="fa-brands fa-github"></i></a>
								    <a class="social-icon" target="_blank" href="mailto:ritikduttagd@gmail.com"><i class="fa-regular fa-envelope"></i></a>
								    <a class="social-icon" target="_blank" href="https://www.linkedin.com/in/ritik-dutta-6037a6173/"><i class="fa-brands fa-linkedin-in"></i></a>
								</p>
								<div style="display: flex; gap: 50px;">
									<p><a href="https://slides.ritikdutta.com" target="_blank" class="btn btn-primary btn-outline">My Slides.</a><a href="https://Docs.ritikdutta.com" target="_blank" class="btn btn-primary btn-outline">My Docs.</a></p>
									<!-- <p><a href="#" class="btn btn-primary btn-outline">Ritik's Docs</a></p> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div id="colorlib-services">
			<div class="container">
				<div class="row text-center">
					<h2 class="bold">Skills</h2>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="services-flex">
							<div class="one-third">
								<div class="row">
									<div class="col-md-12 col-md-offset-0 animate-box intro-heading">
										<span>My Skills</span>
										<h2>Here Are Some of My Skills</h2>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="rotate">
											<h2 class="heading">craftsmanship</h2>
										</div>
									</div>
									<div class="col-md-6">
										<div class="services animate-box">
											<h3>1 - Machine Learning</h3>
											<ul>
												<li>ML algorithms</li>
												<li>Data Analysis</li>
												<li>ML Pipelines</li>
												<li>Sklearn</li>
												<li>XGBoost</li>

											</ul>
										</div>
										<div class="services animate-box">
											<h3>3 - Deep Learning</h3>
											<ul>
												<li>TensorFlow</li>
												<li>Detection</li>
												<li>CNN Architectures</li>

												<!-- <li>Jomla</li> -->
											</ul>
										</div>
										<div class="services animate-box">
											<h3>3 - Devops</h3>
											<ul>
												<li>Deployment</li>
												<li>Automation</li>
												<li>Docker</li>
												<li>Jenkins</li>
												<li>Git</li>
												<li>AWS</li>
												<li>MLflow</li>
												<li>Circle CI</li>
												<li>CICD</li>
												<li>Cloud</li>
												<li>GCP</li>
												<!-- <li>Jomla</li> -->
											</ul>
										</div>
										<div class="services animate-box">
											<h3>3 - Backend</h3>
											<ul>
												<li>Architecture</li>
												<li>Flask</li>
												<li>Databases</li>
												<li>NoSQL</li>
												<li>Cassandra</li>
												<li>Firebase Realtime DB</li>
												<li>Firebase Firestore</li>
												<li>Security</li>
												<li>OAuth</li>
												<li>Deployment</li>
												<li>GCP/AWS</li>
												<li>Nginx</li>
												<li>API</li>
												<li>Postman</li>
												<li>Ajaxli>
											</ul>
										</div>
									</div>
									<div class="col-md-6">
										<div class="services animate-box">
											<h3>2 - Computer Vision</h3>
											<ul>
												<li>Detection</li>
												<li>Recognition</li>
												<li>Tracking</li>
												<li>Classification</li>
												<li>OpenCV</li>
												<li>Yolo</li>
												<li>FaceNet</li>
												<li>MediaPipe</li>


											</ul>
										</div>
										<div class="services animate-box">
											<h3>4 - Natural Language Processing</h3>
											<ul>
												<li>Langchain</li>
												<li>Classification</li>
												<li>eCommerce</li>
												<li>Translation</li>
												<li>Sentiment</li>
												<li>GPT</li>
												<li>BERT</li>
												<li>Hugging Face's Transformers</li>
											</ul>
										</div>
										<div class="services animate-box">
											<h3>4 - WebDevelopment</h3>
											<ul>
												<li>Bootstrap</li>
												<li>HTML/CSS/JS</li>
											</ul>
										</div>
										<div class="services animate-box">
											<h3>4 - IOT/Robotics</h3>
											<ul>
												<li>Arduino IDE</li>
												<li>RaspberryPie</li>
												<li>Zapier</li>
												<li>IFTTT</li>
												<li>MQTT</li>
												<li>Node-RED</li>
												<li>Home Automation</li>
											</ul>
										</div>
										<div class="services animate-box">
											<h3>4 - Game Development</h3>
											<ul>
												<li>Blender</li>
												<li>Unity</li>
											</ul>
										</div>
										<div class="services animate-box">
											<h3>4 - Cybersecurity/Network engineering</h3>
											<ul>
												<li class="blur">Penetration</li>
												<li class="blur">Anonymity</li>
												<li class="blur">Script Injection</li>
												<li class="blur">SQL Injection</li>
												<li class="blur">Hardware Hijacking</li>
											</ul>
										</div>
										
									</div>
								</div>
							</div>
							<div class="one-forth services-img" style="background-image: url(static/images/face_rec.gif);">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="colorlib-work">
			<div class="container">
				<div class="row text-center">
					<h2 class="bold">Works</h2>
				</div>
				<div class="row">
					<div class="col-md-12 col-md-offset-0 text-center animate-box intro-heading">
						<span>Portfolio</span>
						<h2>Done Projects</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="rotate">
							<h2 class="heading">Portfolio</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="work-entry animate-box">
							<a href="https://github.com/RitikDutta/Company-work-environment-management" target="_blank" class="work-img" style="background-image: url(static/images/project1.gif);">
								<div class="display-t">
									<!-- <div class="work-name">
										<h2>Company Work Environment Management System</h2>
									</div> -->
								</div>
							</a>
							<h2 class="proj_head">Company Work Environment Management System</h2>

							<div class="col-md-4 col-md-offset-4">
								<div class="desc">
									<p>This project aims to use facial recognition technology to monitor employee productivity and track specific activities in the workplace.
									</p>
									<p class="read"><a href="https://github.com/RitikDutta/Company-work-environment-management" target="_blank">View details</a></p>
									<!-- <p class="read"><a onclick="alert('Alert: The live version of this project is not currently active to manage cloud computation costs. If you are eager to see the project in action, detailed setup instructions are available on my GitHub page. Alternatively, feel free to reach out directly for a personal demonstration or any inquiries.')" target="_blank">Live Demo</a></p> -->
                  <p class="read"><a href="https://cwem.site/" target="_blank">Live Demo</a></p>
`
								</div>
							</div>
						</div>
					</div>

          <div class="col-md-12">
            <div class="work-entry animate-box">
              <a href="https://github.com/RitikDutta/datamigrato" class="work-img" style="background-image: url(static/images/datamigrato.gif);">
                <div class="display-t">
                  <!-- <div class="work-name">
                    <h2>Coordinates</h2>
                  </div> -->
                </div>
              </a>
              <h2 class="proj_head">Datamigrato</h2>
              <div class="col-md-4 col-md-offset-4">
                <div class="desc">
                  <p>Datamigrato: Simplifying complex data migrations. Versatile Python package for seamless transfer across databases. Effortlessly streamline your backend operations.</p>
                  <p class="read"><a href="https://github.com/RitikDutta/datamigrato" target="_blank">View Details</a></p>
                  <!-- <p class="read"><a href="https://ritikdutta.com" target="_blank">Live Demo</a></p> -->
                </div>
              </div>
            </div>
          </div>


					<div class="col-md-12">
						<div class="work-entry animate-box">
							<a href="https://github.com/RitikDutta/Interview_mentor" class="work-img" style="background-image: url(static/images/project2.png);">
								<div class="display-t">
									<!-- <div class="work-name">
										<h2>Coordinates</h2>
									</div> -->
								</div>
							</a>
							<h2 class="proj_head">Interview Ready</h2>
							<div class="col-md-4 col-md-offset-4" style="width: 75%; margin-left: 12%;">
								<div class="desc">
									<p>Generative AI-based Interview Coach: Revolutionize your interview preparation with our <b>AI-Powered Mock Interview Platform</b>. Experience <b>realistic interview simulations</b> tailored to a wide range of professional fields—from IT and business management to psychology and civil services. Enhance your preparation with our <b>dynamic user profile system</b>, featuring <b>secure authentication</b> and <b>efficient session management</b>. Personalize your practice sessions by selecting interviewers based on <b>gender</b>, <b>language preferences</b> (English or Hindi), and <b>specific career domains</b>. Gain <b>invaluable insights</b> through <b>instant feedback</b>, track your progress with <b>quantifiable scoring</b>, and prepare for real-world scenarios by engaging in mock interviews that replicate actual job interview experiences in your chosen field.</p>
									<p class="read"><a href="https://github.com/RitikDutta/Interview_mentor" target="_blank">View Details</a></p>
									<p class="read"><a href="https://ritikdutta.com/interview" target="_blank">Live Demo</a></p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="work-entry animate-box">
							<a class="work-img" style="background-image: url(static/images/project3.gif);">
								<div class="display-t">
									<!-- <div class="work-name">
										<h2>Cristall</h2>
									</div> -->
								</div>
							</a>
							<h2 class="proj_head">Inventory Management Chatbot</h2>
							<div class="col-md-4 col-md-offset-4">
								<div class="desc">
									<p>This advanced chatbot streamlines inventory management and sales tracking, offering real-time insights into customer orders and popular items, enabling efficient inventory adjustments based on monthly sales trends.</p>
									<p class="read"><a href="https://github.com/RitikDutta/Food-Divilery-chatbot" target="_blank">View details</a></p>
									<p class="read"><a href="https://t.me/Foodtest2bot" target="_blank">Live Demo</a></p>
									<p class="read"><a href="https://bot.dialogflow.com/food2bot" target="_blank" onmouseover="this.innerHTML='Limited functionality'" onmouseout="this.innerHTML='Lite Demo'">Lite Demo</a>
									</p>

								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12">
						<div class="work-entry animate-box">
							<a class="work-img" style="background-image: url(static/images/project4.jpg);">
								<div class="display-t">
									<!-- <div class="work-name">
										<h2>Black</h2>
									</div> -->
								</div>
							</a>
							<h2 class="proj_head">Raaga Rhythms</h2>
							<div class="col-md-4 col-md-offset-4">
								<div class="desc">
									<p>Immerse in the melodious realms of Indian classical music, where each raga unfolds a unique story. Delve into the harmony of tradition through symphonic streams and full insights on each song, echoing the soulful rhythm of timeless ragas.</p>
									<p class="read"><a href="https://github.com/RitikDutta/RaagaRhythms" target="_blank">View details</a></p>
									<p class="read"><a href="https://ritikdutta.github.io/RaagaRhythms/" target="_blank">Live Demo</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="colorlib-blog">
			<div class="container">
				<div class="row text-center">
					<h2 class="bold">Social Impact</h2>
				</div>
				<div class="row">
					<div class="col-md-12 col-md-offset-0 text-center animate-box intro-heading">
						<span>Social Impact</span>
						<h2>Community Involvement and Social Impact</h2>
						<p>In addition to my passion for technology and innovation, I am deeply committed to making a positive impact in the community. I dedicate part of my time to volunteering with organizations focused on feeding and educating underprivileged children. This work is not just a duty, but a heartfelt commitment to nurturing the potential of every child and ensuring they have access to the basic necessities of life and the joys of learning. Through these efforts, I aim to contribute to a brighter, more equitable future for all.
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="rotate">
							<h2 class="heading">Nurturing Young Minds and Souls</h2>
						</div>
					</div>
				</div>
				<div class="row animate-box">
					<div class="owl-carousel1">
						<div class="item">
							<div class="col-md-12">
								<div class="article">
									<a href="blog.html" class="blog-img">
										<img class="img-responsive" src="static/images/vol5.jpeg" alt="html5 bootstrap by colorlib.com">
										<div class="overlay"></div>
										
									</a>
									<div class="desc">
										<!-- <span class="meta">15, Feb 2018</span> -->
										<h2><a href="blog.html">Sustenance</a></h2>
										<p>Cultivating Futures: Each meal I serve as a Food Assistance Volunteer brings hope and nourishment to underprivileged children. Beyond sustenance, it's a gesture of kindness and a step towards a world where no child goes hungry. Join in this journey of compassion, one meal at a time.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="col-md-12">
								<div class="article">
									<a href="blog.html" class="blog-img">
										<img class="img-responsive" src="static/images/vol1.jpeg" alt="html5 bootstrap by colorlib.com">
										<div class="overlay"></div>
										
									</a>
									<div class="desc">
										<span class="meta">15, August 2023</span>
										<h2><a href="blog.html">Food Drive</a></h2>
										<p>As a committed volunteer, I've had the honor of serving our community, especially on meaningful days like Independence Day. I spearheaded food drives, collecting staples like rice, daals, and aata, and distributed them to needy families in neighboring villages, fostering a shared sense of nourishment and hope in our celebrations.

										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="col-md-12">
								<div class="article">
									<a href="blog.html" class="blog-img">
										<img class="img-responsive" src="static/images/vol2.jpeg" alt="html5 bootstrap by colorlib.com">
										<div class="overlay"></div>
										
									</a>
									<div class="desc">
										<!-- <span class="meta">15, Feb 2018</span> -->
										<h2><a href="blog.html">Plantations</a></h2>
										<p>Planting Tomorrow: As an Environmental Conservation Volunteer, I embrace the role of Earth's steward, nurturing the future with each tree planted. Each sapling signifies hope, a step towards ecological restoration and a legacy for the coming generations. Together, we stand as guardians of nature's splendor, weaving our efforts into the tapestry of Earth's well-being.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="col-md-12">
								<div class="article">
									<a href="blog.html" class="blog-img">
										<img class="img-responsive" src="static/images/vol3.jpeg" alt="html5 bootstrap by colorlib.com">
										<div class="overlay"></div>
										
									</a>
									<div class="desc">
										<!-- <span class="meta">15, Feb 2018</span> -->
										<h2><a href="blog.html">Food Drive</a></h2>
										<p>Sharing Meals, Spreading Hope: As the volunteer in the blue shirt, I've experienced the joy of serving meals and smiles to children in need. Each plate is a blend of kindness and compassion, a belief in a brighter future for every child. Together, let's take steps towards eradicating hunger, one meal at a time.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="col-md-12">
								<div class="article">
									<a href="blog.html" class="blog-img">
										<img class="img-responsive" src="static/images/vol4.jpeg" alt="html5 bootstrap by colorlib.com">
										<div class="overlay"></div>
										
									</a>
									<div class="desc">
										<!-- <span class="meta">15, Feb 2018</span> -->
										<h2><a href="blog.html">Food Drive</a></h2>
										<p>Sharing Meals, Spreading Hope: As the volunteer in the blue shirt, I've experienced the joy of serving meals and smiles to children in need. Each plate is a blend of kindness and compassion, a belief in a brighter future for every child. Together, let's take steps towards eradicating hunger, one meal at a time.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



		<div id="colorlib-blog">
			<div class="container">
				<div class="row text-center">
					<h2 class="bold">Blog</h2>
				</div>
				<div class="row">
					<div class="col-md-12 col-md-offset-0 text-center animate-box intro-heading">
						<span>Blog</span>
						<h2>Read Our Case</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="rotate">
							<h2 class="heading">Our Blog</h2>
						</div>
					</div>
				</div>
				<div class="row animate-box">
					<div class="owl-carousel1">
						<div class="item">
							<div class="col-md-12">
								<div class="article">
									<a target="_blank" href="https://medium.com/analytics-vidhya/alexnet-in-a-nutshell-4a9445e92d6d?source=user_profile---------3----------------------------" class="blog-img">
										<img class="img-responsive" src="static/images/blog2.png" alt="html5 bootstrap by colorlib.com">
										<div class="overlay"></div>
										<div class="link">
											<h2><span class="read">Read more</span></h2>
										</div>
									</a>
									<div class="desc">
										<span class="meta">29, May 2020</span>
										<h2><a target="_blank" href="https://medium.com/analytics-vidhya/alexnet-in-a-nutshell-4a9445e92d6d?source=user_profile---------3----------------------------">AlexNet in a Nutshell</a></h2>
										<p>AlexNet was trained on ImageNet datasets consists of 1.2 million data(images) which contains 1000 different classes having 60 million parameters and 650000 neurons consist of 5 convolutional layers</p>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="col-md-12">
								<div class="article">
									<a target="_blank" href="https://medium.com/@ritikduttagd/lenet-in-a-nutshell-2303330cc7db?source=user_profile---------4----------------------------" class="blog-img">
										<img class="img-responsive" src="static/images/blog1.jpg" alt="html5 bootstrap by colorlib.com">
										<div class="overlay"></div>
										<div class="link">
											<span class="read">Read more</span>
										</div>
									</a>
									<div class="desc">
										<span class="meta">20, May 2020</span>
										<h2><a target="_blank" href="https://medium.com/@ritikduttagd/lenet-in-a-nutshell-2303330cc7db?source=user_profile---------4----------------------------">LeNet in a nutshell</a></h2>
										<p>how LeNet works, Architecture, how to train model using LeNet acchitecture on keras and a also how to design a better model than LeNet using same architecture but with different activation, loss functions etc, and compare the accuracy of new LeNet and original LeNet model.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="col-md-12">
								<div class="article">
									<a target="_blank" href="https://medium.com/@ritikduttagd/principal-component-analysis-pca-in-a-nutshell-6e422e1bb529?source=user_profile---------2----------------------------" class="blog-img">
										<img class="img-responsive" src="static/images/blog3.png" alt="html5 bootstrap by colorlib.com">
										<div class="overlay"></div>
										<div class="link">
											<span class="read">Read more</span>
										</div>
									</a>
									<div class="desc">
										<span class="meta">12, Nov 2022</span>
										<h2><a target="_blank" href="https://medium.com/@ritikduttagd/principal-component-analysis-pca-in-a-nutshell-6e422e1bb529?source=user_profile---------2----------------------------">Principal Component Analysis(PCA) in a Nutshell</a></h2>
										<p>With increase in dimensions(like 100’s/features) leads to problems like:
											<ol>
											<li>Time Complexity increases</li>
											<li>Difficult to generalize relations</li>
											<li>All the time all features are not going to contribute</li>
											<li>Hard to find shape of data</li>
											</ol>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="col-md-12">
								<div class="article">
									<a target="_blank" href="https://medium.com/@ritikduttagd/k-means-in-a-nutshell-6d06c7a78ff7?source=user_profile---------1----------------------------" class="blog-img">
										<img class="img-responsive" src="static/images/blog4.png" alt="html5 bootstrap by colorlib.com">
										<div class="overlay"></div>
										<div class="link">
											<span class="read">Read more</h2>
										</div>
									</a>
									<div class="desc">
										<span class="meta">14, Nov 2022</span>
										<h2><a target="_blank" href="https://medium.com/@ritikduttagd/k-means-in-a-nutshell-6d06c7a78ff7?source=user_profile---------1----------------------------">K-means in a Nutshell</a></h2>
										<p>The K-means clustering algorithm computes centroids and repeats until the optimal centroid is found. It is presumptively known how many clusters there are. It is also known as the flat clustering algorithm. The number of clusters found from data by the method is denoted
by the letter ‘K’ in K-means.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="col-md-12">
								<div class="article">
									<a target="_blank" href="https://medium.com/@ritikduttagd/master-the-art-of-data-science-and-launch-a-top-notch-project-today-4075f46f9dfe?source=user_profile---------0----------------------------" class="blog-img">
										<img class="img-responsive" src="static/images/blog5.png" alt="html5 bootstrap by colorlib.com">
										<div class="overlay"></div>
										<div class="link">
											<span class="read">Read more</h2>
										</div>
									</a>
									<div class="desc">
										<span class="meta">7, Dec 2022</span>
										<h2><a target="_blank" href="https://medium.com/@ritikduttagd/master-the-art-of-data-science-and-launch-a-top-notch-project-today-4075f46f9dfe?source=user_profile---------0----------------------------">Project Management</a></h2>
										<p>A data science project is the most important aspect of a data scientist’s work. It is the culmination of all their work and efforts. The structure for a data science project should be set up in such a way that it can be easily followed by other team members. In this article, we will provide an overview of the process and method Industry follow when working with companies to build custom Data Science projects.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

<!-- 
		<div id="colorlib-testimony">
			<div class="container">
				<div class="row text-center">
					<h2 class="bold">Testimonies</h2>
				</div>
				<div class="row">
					<div class="col-md-12 col-md-offset-0 text-center animate-box intro-heading">
						<span>Testimonies</span>
						<h2>Clients Says</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="rotate">
							<h2 class="heading">Says</h2>
						</div>
					</div>
				</div>
				<div class="row animate-box">
					<div class="owl-carousel">
						<div class="item">
							<div class="col-md-12 text-center">
								<div class="testimony">
									<blockquote>
										<p>"A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
										<span>" &mdash; George Brooks</span>
									</blockquote>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="col-md-12 text-center">
								<div class="testimony">
									<blockquote>
										<p>"Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
										<span>" &mdash; Daniel Foster</span>
									</blockquote>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="col-md-12 text-center">
								<div class="testimony">
									<blockquote>
										<p>"When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove</p>
										<span>" &mdash; Liam Jenkins</span>
									</blockquote>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->

		<footer>
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-pb-sm">
							<div class="row">
								<div class="col-md-10">
									<h2>Let's Talk</h2>
									<p>A small river named Duden flows by their place and supplies.</p>
									<p><a href="#">ritikduttagd@gmail.com</a></p>
									<p class="colorlib-social-icons", style="    display: flex; flex-wrap: nowrap; justify-content: space-around;">
										<!-- <a href="#"><i class="icon-facebook4"></i></a> -->
										<a target="_blank" href="https://github.com/RitikDutta"><i class="fa-brands fa-github"></i></a>
										<a target="_blank" href="mailto:ritikduttagd@gmail.com"><i class="fa-regular fa-envelope"></i></a>
										<a target="_blank" href="https://www.linkedin.com/in/ritik-dutta-6037a6173/"><i class="fa-brands fa-linkedin-in"></i></a>
									</p>
								</div>
							</div>
						</div>


						<!-- <div class="col-md-4 col-pb-sm">
							<h2>Latest Blog</h2>
							<div class="f-entry">
								<a href="#" class="featured-img" style="background-image: url(static/images/img-1.jpg);"></a>
								<div class="desc">
									<span>February 15, 2018</span>
									<h3><a href="#">Art Gallery in Japan</a></h3>
								</div>
							</div>
							<div class="f-entry">
								<a href="#" class="featured-img" style="background-image: url(static/images/img-2.jpg);"></a>
								<div class="desc">
									<span>February 9, 2018</span>
									<h3><a href="#">A Japanese Constellation</a></h3>
								</div>
							</div>
							<div class="f-entry">
								<a href="#" class="featured-img" style="background-image: url(static/images/img-3.jpg);"></a>
								<div class="desc">
									<span>February 15, 2018</span>
									<h3><a href="#">Road Trip</a></h3>
								</div>
							</div>
						</div> -->
						<!-- <div class="col-md-4 col-pb-sm">
							<h2>Newsletter</h2>
							<p>A small river named Duden flows by their place and supplies it with the necessary regelialia</p>
							<div class="subscribe text-center">
								<div class="form-group">
									<input type="text" class="form-control text-center" placeholder="Enter Email address">
									<input type="submit" value="Subscribe" class="btn btn-primary btn-custom">
								</div>
							</div>
						</div> -->
					</div>
					<div class="row" style="opacity: 1%;">
						<div class="col-md-12 text-center">
							<p>
								&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart4" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	
	</div>


	<style>
.footer_cd {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  overflow: visible; /* Allows content to extend outside the footer */
  height: 50px;
  align-items: normal;
}

.footer_cd .img-container {
  position: relative;
  width: 85px;
  height: 85px;
  margin-right: 20px;
  bottom: 45px; /* Adjust as necessary to move the image out of the footer */
  border-radius: 50%;
/*  overflow: hidden;*/
  {% if current_song.song_name == "NONE" %}
	  animation: spin 35s linear infinite;
  {% else %}
	  animation: spin 5s linear infinite;
  {% endif %}
}

.footer_cd .img-container img {
/*  width: 100%;*/
  height: 100%;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.6); /* Soft circular shadow */
  border-radius: 50%; /* Ensures the shadow follows a circular shape */
}

.footer_cd .img-container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 17px; /* Adjust for consistent absolute size */
  height: 17px; /* Adjust for consistent absolute size */
  background-color: white; /* Color of the hole, assuming the page background is white */
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5) inset; /* Adds depth to the hole */
}



@keyframes spin {
        100% { transform: rotate(360deg); }
    }
.marquee {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 7s cubic-bezier(0.15, 0.77, 0.75, 0.1) infinite;
}

  color: #FFF; /* White text color */
}

.song-info {
  margin-bottom: unset;
  font-size: 16px; /* Optimal font size for readability */
  color: #FFF; /* Maintaining white for general text for better visibility */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Modern, readable font */
}


.song-info .song-name {
  font-weight: bold; /* Enhances the visibility of the song name */
  color: #E6E6E6; /* Slightly lighter shade for differentiation */
}

.song-info .artist {
  font-style: italic; /* Retains italics for artist name for a classic touch */
  color: #CDDEFB; /* Subtle blue shade for an appealing contrast */
  margin: 0 5px; /* Adds space around the artist name */
}

.song-info .album {
  
  color: #FDD835; /* Bright yellow for a pop of color and attention */
}


@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
</style>

<div class="footer_cd">
 <div class="img-container">
    {% if current_song.song_name == "NONE" %}
    <img src="static/images/np.png" >
    {% else %}
    <img src="{{image_url}}" >
    {% endif %}
  </div>

  <div class="marquee">
  {% if current_song.song_name == "NONE" %}
  <p class="song-info">
    Ritik Dutta is not currently listening to anything.
  </p>

  {% else %}

  <p class="song-info">
    <span class="icon"></span>Ritik's Current Track: <span class="song-name">{{current_song.song_name}}</span> by <span class="artist">{{current_song.artist}}</span> from <span class="album">{{current_song.album}}</span>
  </p>
  {% endif %}

  </div>
</div>



	<!-- jQuery -->
	<!-- <script src="js/jquery.min.js"></script> -->
	    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>

	<!-- jQuery Easing -->
	<!-- <script src="js/jquery.easing.1.3.js"></script> -->
	    <script src="{{ url_for('static', filename='jquery.easing.1.3.js') }}"></script>

	<!-- Bootstrap -->
	<!-- <script src="js/bootstrap.min.js"></script> -->
	    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

	<!-- Waypoints -->
	<!-- <script src="js/jquery.waypoints.min.js"></script> -->
	    <script src="{{ url_for('static', filename='jquery.waypoints.min.js') }}"></script>

	<!-- Owl Carousel -->
	<!-- <script src="js/owl.carousel.min.js"></script> -->
	    <script src="{{ url_for('static', filename='owl.carousel.min.js') }}"></script>

	<!-- Magnific Popup -->
	<!-- <script src="js/jquery.magnific-popup.min.js"></script> -->
	    <script src="{{ url_for('static', filename='jquery.magnific-popup.min.js') }}"></script>

	<!-- <script src="js/magnific-popup-options.js"></script> -->
	    <script src="{{ url_for('static', filename='magnific-popup-options.js') }}"></script>


	<!-- Main JS (Do not remove) -->
	<script src="js/main.js"></script>
	    <script src="{{ url_for('static', filename='main.js') }}"></script>


	</body>
</html>

